# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema
*.DS_Store

# Carpetas generadas
*/dist
*/build
*/out

# Dependencias descargadas
/.pnp
.pnp.js

# Coverage de testing
*/coverage

# Archivos de configuración personalizados
*.env

#Archivos de tipo txt
*.txt

# Archivos con credenciales o llaves de API (incluir los nombres específicos de los archivos)
# ejemplo.ext
